/*all*/
html{
  font-family: Helvetica;
  text-align: center;
}
/*header*/
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
/*Middle*/
.Einteilung{
  font-size: 18px;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
  color: gray;
}

p{
  font-size: 14px;
  color: gray;
}
/*about*/
#ny{
  color:white;
}
/*footer*/
